/experiments/0303_F_CT/
/experiments/0303_M_AN/
/experiments/0305_F_AN/
/experiments/0305_F_MB/
/experiments/0305_M_JG/
/experiments/0307_F_IC/
/experiments/0307_M_EC/
/experiments/0308_F_AGL/
/experiments/0309_F_LB/
/experiments/0310_M_CP/
/experiments/0400_F_AJ/
/experiments/0402_F_KP/
/experiments/0402_M_ON/
/experiments/0404_M_TC/
/experiments/0407_F_AF/
/experiments/0407_M_SJ/
/experiments/0409_F_LE/
/experiments/0410_M_BR/
/experiments/0411_F_AW/
/experiments/0411_M_LM/
/experiments/0500_F_IG/
/experiments/0500_M_QA/
/experiments/0500_M_WD/
/experiments/0501_M_VB/
/experiments/0502_F_KM/
/experiments/0503_M_SR/
/experiments/0504_F_EC/
/experiments/0505_M_EK/
/experiments/0506_F_LH/
/experiments/0509_F_ES/
/experiments/0510_M_BK/
/experiments/0511_F_IG/
/experiments/0601_M_JL/
/experiments/0603_F_CM/
/experiments/0603_M_LS/
/experiments/0604_F_CC/
/experiments/0605_M_CT/
/experiments/0606_F_NS/
/experiments/0607_M_CE/
/experiments/0609_F_AK/
/experiments/0609_M_MN/
/experiments/0611_F_AP/
*__pycache__*
pytorch_models*
librispeech_models*
_*.txt
/data/0303_F_CT/
/data/0303_M_AN/
/data/0305_F_AN/
/data/0305_F_MB/
/data/0305_M_JG/
/data/0307_F_IC/
/data/0307_M_EC/
/data/0308_F_AGL/
/data/0309_F_LB/
/data/0310_M_CP/
/data/0400_F_AJ/
/data/0402_F_KP/
/data/0402_M_ON/
/data/0404_M_TC/
/data/0407_F_AF/
/data/0407_M_SJ/
/data/0409_F_LE/
/data/0410_M_BR/
/data/0411_F_AW/
/data/0411_M_LM/
/data/0500_F_IG/
/data/0500_M_QA/
/data/0500_M_WD/
/data/0501_M_VB/
/data/0502_F_KM/
/data/0503_M_SR/
/data/0504_F_EC/
/data/0505_M_EK/
/data/0506_F_LH/
/data/0509_F_ES/
/data/0510_M_BK/
/data/0511_F_IG/
/data/0601_M_JL/
/data/0603_F_CM/
/data/0603_M_LS/
/data/0604_F_CC/
/data/0605_M_CT/
/data/0606_F_NS/
/data/0607_M_CE/
/data/0609_F_AK/
/data/0609_M_MN/
/data/0611_F_AP/
/data/.DS_store
data/EpaDB - Paper.pdf
.idea/
.ipynb_checkpoints/
EpaDB.zip
EpaDB/
child_speech_16_khz_test/
